.progress {
    width: 400px;
    height: 40px;
    border: 1px solid blue;  
    box-sizing: border-box;  
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.progress-line {
    height: 100%;
    width: 62%;
    background-color: aqua;    
}

.persons {
    position: absolute;
    z-index: 1;
    display: block;
    text-align: center;
    left: 0;
    top: 9px;
    font-weight: bold;
    width: 100%;
}

.circle {
    width: 200px;
    height: 200px;
    border: 15px solid yellow;
    border-top: 15px solid green;
    box-sizing: border-box;
    border-radius: 50%;
    transform: rotate(45deg);
    box-shadow: 0 0 0 1px black, inset 0 0 0 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-persents {
    font-size: 30px;
    font-weight: bold;
    transform: rotate(-45deg);
    color: red;
}

// dslghlseigj oprg